*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,body{ 
    background-color: #c6e1dd;
    height: 100%;
    overflow-x: hidden;
}
.ShopHeader{
    background-color: #59746f;
    height: 200px;
}
.ShopHeader img{
    width: 100%;
    height: 100%;
}
#products{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
 }
.card{
    background-color: #59746f;
    width: 220px;
    border-radius: 10px;
    float: left;
    margin: 10px;
    margin-left: 35px;
}
.productImg img{
    width: 100%;
    height: 35%;
    border-radius: 10px;
}
.productDescription{
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: #c6e1dd;
    font-weight: bold;

}
.buy{
    background-color: #c6e1dd;
    color: #59746f;
    font-weight: bold;
    height: 50px;
    margin-top: 5px;
    margin: 20px;
    margin-left: 5%;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    float: left;
    text-align: center;
    align-self: center;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.buy:hover{
    background-color: #9cb8b3;
    color: #59746f;
}
.shoppingCart{
    background-color: black;
    color: white;
}
.menu{
    text-align: right;
}
.menu a{
    color: #c6e1dd;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
@media(max-width:900px){
    .ShopHeader img{
        width: 100%;
        height: 100%;
     }
}